!!! HTML5
%html{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }
    %title Marionette Contact Manager

    %link{ href: "./assets/css/bootstrap.css",   rel: "stylesheet" }
    %link{ href: "./assets/css/application.css", rel: "stylesheet" }

    %script{ src: "http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js" }
    %script{ src: "assets/js/vendor/json2.js" }
    %script{ src: "http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore.js" }
    %script{ src: "http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone.js" }
    %script{ src: "http://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/1.1.0-bundled/backbone.marionette.js" }

    %script{ src: "assets/js/app.js" }
    %script{ src: "assets/js/entities/contact.js" }
    %script{ src: "assets/js/apps/contacts/list/list_view.js" }

  %body
    %div.navbar.navbar-inverse.navbar-fixed-top
      %div.navbar-inner
        %div.container
          %span.brand
            Contact Manager

    #main-region.container
      %p 
        Here is static content in the web page. You'll notice
        that it gets replaced by our app as soon as we start it.

    #list-region.container

    %script{ type: "text/template", id: "contact-template" }
      %p.clickable <%= firstName %> <%= lastName %>
      %hr

    %script{ type: "text/template", id: "contact-list-item" }
      <%= firstName %> <%= lastName %>

    :javascript
      $(function() {
        app();
      })
