<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='utf-8'>
    <title>Marionette Contact Manager</title>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js'></script>
    <script src='assets/js/vendor/json2.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone.js'></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/backbone.marionette/1.1.0-bundled/backbone.marionette.js'></script>
    <script src='assets/js/app.js'></script>
    <link href='./assets/css/bootstrap.css' rel='stylesheet'>
    <link href='./assets/css/application.css' rel='stylesheet'>
  </head>
  <body>
    <div class='navbar navbar-inverse navbar-fixed-top'>
      <div class='navbar-inner'>
        <div class='container'>
          <span class='brand'>
            Contact Manager
          </span>
        </div>
      </div>
    </div>
    <div class='container' id='main-region'>
      <p>
        Here is static content in the web page. You'll notice
        that it gets replaced by our app as soon as we start it.
      </p>
    </div>
    <script id='contact-template' type='text/template'>
      <p class='clickable'><%= firstName %> <%= lastName %></p>
      <p>Unclickable; changed event to p.clickable</p>
    </script>
    <script>
      $(function() {
        app();
      })
    </script>
  </body>
</html>
